        html {
            position: relative;
            min-height: 100%;
        }
        
        body {
            font-size: 16px;
            color: #f0f0f0;
            margin-bottom: 60px;
            background-color: rgb(36, 36, 36);
            font-family: 'Montserrat', sans-serif;
        }
        /** HEADER SECTION **/
        
        #main-header h1 {
            font-family: 'Anton', sans-serif;
            color: #ababab;
            text-transform: uppercase;
            font-size: 2.7em;
            font-weight: regular;
            text-shadow: 2px 2px 2px #222;
            margin-top: 15px;
            margin-bottom: 15px;
            line-height: .75;
            text-align: center;
        }
        /* END HEADER */
        /* Home Page */
        
        #chicken-tile,
        #beef-tile,
        #sushi-tile {
            height: auto;
            margin-bottom: 15px;
            position: relative;
            text-decoration: none;
            border: 1px solid #ccbbaa;
            overflow: hidden;
        }
        
        #chicken-tile p,
        #beef-tile p,
        #sushi-tile path {
            text-decoration: none;
        }
        
        #chicken-tile:hover,
        #beef-tile:hover,
        #sushi-tile:hover {
            box-shadow: 0 1px 5px 1px #ccbbaa;
        }
        
        #chicken-tile span,
        #beef-tile span,
        #sushi-tile span {
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            text-align: center;
            font-size: 1.6em;
            text-transform: uppercase;
            border: 2px solid #ccbbaa;
            background-color: #880000;
            color: #ababab;
            opacity: .8;
        }
        
        .inner-text {
            text-decoration: none;
            text-align: left;
            color: #ababab;
            padding: 40px 5px 5px 5px;
        }
        /* End Home Page */
        /* Large Devices */
        
        @media (min-width: 1200px) {
            .col-md-4 {
                width: 28%;
                float: left;
                padding-left: 10px;
            }
            #main-header h1 {
                margin-bottom: 20px
            }
            #chicken-tile,
            #beef-tile {
                margin: 15px auto 15px;
            }
            #sushi-tile {
                margin: 15px auto 15px;
            }
            /* End Home Page */
        }
        /* Medium devices only */
        
        @media (min-width: 992px) and (max-width: 1199px) {
            .col-sm-6 {
                float: left;
                padding-left: 10px;
                width: 48%;
            }
            .col-sm-12 {
                float: left;
                padding-left: 10px;
                width: 98%;
            }
            #main-header h1 {
                margin-bottom: 20px
            }
            #chicken-tile,
            #beef-tile {
                margin: 15px auto 15px;
            }
            #sushi-tile {
                margin: 15px auto 15px;
            }
            /* End Home Page */
        }
        /* Small devices only */
        
        @media (min-width: 768px) and (max-width: 991px) {
            .col-xs-12 {
                width: 95%;
                float: left;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            /* Home Page */
            #main-header h1 {
                margin-bottom: 20px
            }
            #chicken-tile,
            #beef-tile {
                margin: 15px auto 15px;
            }
            #sushi-tile {
                margin: 15px auto 15px;
            }
            /* End Home Page */
        }
        /* Extra-small devices only */
        
        @media (max-width: 767px) {
            /* Home Page */
            #main-header h1 {
                margin-bottom: 20px
            }
            #chicken-tile,
            #beef-tile,
            #sushi-tile {
                width: 360px;
                margin: 15px auto 15px;
            }
            /* End Home Page */
        }
        /* Super extra small devices only*/
        
        @media (max-width: 479px) {
            /* Header */
            #main-header h1 {
                margin-bottom: 20px
            }
            /* End Header */
            /* Home Page */
            #chicken-tile,
            #beef-tile,
            #sushi-tile {
                width: 280px;
                margin: 0 auto 15px;
            }
            .col-xs-12 {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                float: left;
                width: 100%;
            }
            /* End Home Page */
        }
        /* Footer */
        
        .panel-footer {
            position: relative;
            float: left;
            margin-top: 10px;
            padding-top: 35px;
            padding-bottom: 30px;
            width: 100%;
            color: #ababab;
            background-color: #222;
            border-top: 0;
        }
        
        #copyright {
            margin-bottom: 10px;
            text-align: center;
        }
        /* End Footer */